:root {
    --grn-0: #004F4D;
    --blk-0: #1F2024;
    --gry-0: #4B4952;
    --gry-1: #79717A;
    --gry-2: #A68F97;
    --purp-0: #b14dc3;
    --purp-1: #cf00ff;
    --stop-sign-red: #f30658;
    --default-font-size: 1.3rem;
    --font-small: 1rem;
    --mono: "IBM Plex Mono", monospsace;
    --sans: "IBM Plex Serif", sans-serif;
    --max-content-width: 1600px;
    --gradient: linear-gradient(90deg, var(--purp-0) 0%, var(--stop-sign-red) 76%);
  }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: 0;
  background-color: var(--blk-0);
  color: var(--gry-2);
}

h1, h2, h3, a, span {
  font-size: var(--default-font-size);
}

h1, h2, h3 {
  margin: 0;
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--grn-0);
  text-decoration: none;
  display: block;
}

nav h1 a {
  font-family: var(--sans);
}

#intro {
  padding: 2rem 1rem 4rem 1rem;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

#intro a {
  color: var(--grn-0);
}
#intro a:hover,
nav a:hover {
  color: var(--purp-0);
  text-decoration: none;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

#coder-name {
  font-family: var(--mono);
  font-size: 4rem;
  color: var(--grn-0);
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--grn-0);
}

#contacts h2 {
  margin: 1rem auto 0.5rem auto;
  color: var(--gry-2);
}

#contacts p {
  margin: auto;
  font-size: var(--font-small);
  color: var(--gry-2);
}

#contacts a {
  margin: 2rem auto;
  font-size: var(--font-small);
  color: var(--gry-2);
}

#contacts a:hover {
  color:rgb(133, 0, 195);
  text-decoration: none;
}

.gradient-divider {
  margin: 0;
  padding: 0;
  background: var(--gradient);
  display: inline-block;
  height: 0.125rem;
  width: 100%;
}

#coder-name:hover {
  background-color: var(--grn-0);
  color: var(--gry-2) !important;
  border-radius: 5px;
}

nav a:hover,
nav[class*="fa-"]:hover {
  color: var(--purp-0);
}

#contacts a {
  text-decoration: none;
  font: var(--mono);
  font-size: var(--default-font-size);
}

#contacts a.button,
.resume-button {
  color: var(--grn-0);
  background-color: var(--purp-0);
  padding: 0.5rem;
  border-radius: 5px;
}

#contacts a.button:hover,
.resume-button:hover {
  color: var(--grn-0);
  background-color: var(--purp-1);
}


footer {
  text-align: center;
  margin: 4rem auto;
}

footer div {
  margin: 0.5rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
footer i {
  color: var(--grn-0);
}
footer i:hover {
  color: var(--purp-0);
}
footer span {
  font-size: var(--font-small);
}

/** begin bubble styles */
#bubble-wrapper {
  height: 100%;
  width: 100%;

  position: fixed;
  bottom: 0px;

  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);

  background-color: var(--stop-sign-red);
  border-radius: 100%;

  position: absolute;
  left: 50%;
  top: 100%;

  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, -20%);
  }
}

@media (min-width: 1045px) {
  /** Large screens */
  nav {
    max-width: var(--max-content-width);
    margin: 2rem auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}