/** begin invite-nye styles */
#invite-nye {
    background-color: #79717A;
    margin: 0rem auto;
    display: flex;
    align-items: center;
    /* max-width: 45em; */
  }

  .lock-hightlight {
    position: relative;
    width: 2em;
    height: 2em;
    background-color: orange;
    top: 13%;
    right: 60%;
  }

  #invite-nye .rel-container {
    position: relative;
    width: 100%;
    text-align: center;
  }

  #youre {
    top: 2rem;
  }

  #mayellen {
    top: calc(2rem + 5%);
    left: calc(2rem + 5%);
  }

  #there {
    top: calc(2rem + 10%);
  }

  #sing {
    top: calc(2rem + 15%);
  }

  #board {
    top: calc(2rem + 35%);
    right: 25%;
  }

  #martini {
    top: calc(2rem + 42%);
  }

  #smash {
    top: calc(2rem + 49%);
    right: 20%;
  }

  #pad {
    top: calc(2rem + 58%);
  }

  #snek {
    top: calc(2rem + 75%);
    flex-wrap: wrap;
    width: 80%;
    text-align: left;
  }

  #birb {
    top: calc(2rem + 80%);
    height: 10rem;
    width: 15rem;
  }

  .forknite {
    position: absolute;
    top: calc(2rem + 47%);
    right: 1%;
    z-index: 2;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;

  }

  .pad-container {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 60%;
    left: 20%;
  }

  .pad-container .top {
    transition: transform 0.5s, left 0.5s;
    top: -1.6rem;
    left: 2.5rem;
    z-index: 3;
  }

  .pad-container .bark {
    font-size: var(--font-small);
    font-family: var(--mono);
    position: absolute;
    top: 5rem;
    left: 7rem;
  }

  .pad-container:hover .top {
    transform: rotate(-45deg);
    left: 35%;
  }

  .shaker {
    position: absolute;
    top: 23%;
    left: 5%;
    height: 15rem;
    width: 10rem;
    transition: transform 0.5s;
  }

  .shaker:hover,
  .cocktail:hover {
    transform: scale(1.1);
  }

  .cocktail {
    position: absolute;
    top: 40%;
    left: 30%;
    height: 13rem;
    width: 10rem;
    transition: transform 0.5s;
  }

  .pad {
    position: absolute;
    height: 10rem;
    width: 10rem;
  }

  .diego {
    position: absolute;
    transform: rotate(45deg);
    height: 5rem;
    width: 7rem;
    z-index: 1;
    top: calc(2rem + 44.3%);
    right: -3.5%;
  }

  #invite-nye .invite {
    display: none;
    /* max-width: var(--max-content-width); */
    padding: 2rem;
    /* margin:  auto; */
    height: 150vmin;
    aspect-ratio: 1;
    background-color: black;;
  }

  #invite-nye .invite-text {
    position: absolute;
    font-family: var(--mono);
  }

  #locked-door,
  #highlight-door {
    height: 80vmin;
    position: absolute;
    aspect-ratio: 0.8;
  }

  .stag {
    position: absolute;
    z-index: 1;
    top: 18%;
    right: 14%;
    height: 8rem;
    width: 15rem;
  }

  .panda {
    position: absolute;
    top: 25%;
    right: 3%;
    z-index: 2;
    height: 10rem;
    width: 10rem;
  }

  #invite-nye:hover #locked-door {
    transition: opacity 2s 0.5s linear;
  }

  #invite-nye:hover #highlight-door {
    transition: opacity 2s 0.5s linear;
  }

  #invite-nye #highlight-door {
    opacity: 0;
    position: relative;
  }

  #invite-nye .rel-container:hover #locked-door,
  #invite-nye .rel-container:hover #highlight-door {
    cursor: url('./key-solid.svg') 4 12, crosshair;
  }



  /* End NYE invite styles */